:root {
    --bgMain: rgb(240, 240, 240);
    --bgSecond: rgba(255, 255, 255, 0.7);
    --bgThird: rgba(255, 255, 255);
    --bgFluent: rgba(255, 255, 255, 0.7);
    --bgFluentB: rgba(255, 255, 255, 0.3);
    --bgText: rgba(0, 0, 0, 0.8);
    --bgTextSoft: rgba(0, 0, 0, 0.5);

    --bgOpacStrong: rgba(0, 0, 0, 0.9);
    --bgOpac: rgba(0, 0, 0, 0.7);
    --bgOpacSoft: rgba(0, 0, 0, 0.4);
    --bgOpacSoftest: rgba(0, 0, 0, 0.1);

    --colorMain: hsl(0, 0%, 20%);
    --colorMainOpacSoft: hsla(0, 0%, 20%, 0.075);
    --colorMainOpac: hsla(0, 0%, 20%, 0.15);
    --colorMainFill: hsla(0, 0%, 20%, 0.3);

    /*--colorMain: hsl(264, 100%, 50%);
    --colorMainOpacSoft: hsla(264, 100%, 50%, 0.075);
    --colorMainOpac: hsla(264, 100%, 50%, 0.15);
    --colorMainFill: hsla(264, 100%, 50%, 0.3);*/

    --opacFill: 0.5;
    --opacLight: 0.1;

    --invert: invert(20%);
    --filterGlass: inherit;

    --on: rgba(0, 200, 75, 0.2);
    --off: rgba(225, 0, 75, 0.2);
    --onText: rgb(0, 200, 75);
    --offText: rgb(225, 0, 75);
}

html {
    background-color: var(--bgThird);
}

body {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-family: Rubik;
    background-color: var(--colorMainOpac);
    color: var(--bgText);
    overflow: hidden;
    font-variant-ligatures: no-common-ligatures;
}

span {
    padding-inline: 8px;
}

::selection {
    color: white;
    background-color: var(--colorMain);
}

.block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.fullLoading {
    background-color: black;
    pointer-events: none;
    z-index: 1051;
    opacity: 1;
    will-change: opacity;
}

@keyframes playFade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fullAspectRatio {
    padding: 60px;
    box-sizing: border-box;
    background-color: var(--bgThird);
    pointer-events: none;
    z-index: 1050;
}

.textBlocker {
    color: var(--bgText);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.fullWelcome {
    background-color: var(--bgThird);
    z-index: 1001;
    transition: 0.3s;
}

.fullWindow {
    background-color: var(--bgSecond);
    opacity: 0;
    z-index: 1004;
    transition: 0.3s;
    display: none;
    will-change: transform;
}

.popUpWindow {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    max-width: calc(500px + 10%);
    background-color: var(--bgFluent);
    backdrop-filter: var(--filterGlass);
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5),
                0px 0px 16px 5px var(--colorMain),
                0px 0px 0px 5px var(--colorMain);
    z-index: 1005;
    display: none;
    flex-direction: column;
    padding: 18px;
    padding-bottom: 78px;
    box-sizing: border-box;
    opacity: 0;
    scale: 0.8;
    transition: 0.3s;
    will-change: transform;
}

.boxButtonLabelWindow {
    position: absolute;
    bottom: 6px;
    left: 6px;
    width: calc(100% - 12px);
    height: 60px;
    background-color: var(--bgThird);
    border-radius: 8px 8px 20px 20px;
    gap: 12px;
}

.buttonConfirm {
    min-width: 180px;
    height: 36px;
    background-color: var(--colorMain);
    border-radius: 10px;
    white-space: nowrap;
    padding-inline: 16px;
    font-weight: 500;
    box-sizing: border-box;
    color: var(--bgThird);
    overflow: hidden;
    transition: 0.2s;
    will-change: transform;
}

.buttonConfirm:hover {
    background-color: var(--colorMainOpacSoft);
    box-shadow: 0px 0px 0px 2px var(--colorMain),
                inset 0px 0px 0px 3px var(--colorMainFill);
    color: var(--colorMain);
}

.buttonConfirm:active {
    box-shadow: 0px 0px 0px 2px var(--colorMain),
                inset 0px 0px 0px 3px var(--colorMainFill);
    color: var(--colorMain);
    background-color: transparent;
    scale: 0.95;
}

.popUpNotification {
    position: absolute;
    left: 50%;
    top: 30px;
    translate: -50% calc(-100% - 60px);
    max-width: calc(100% - 60px);
    background-color: var(--bgThird);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 12px;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5),
                0px 0px 16px 5px var(--colorMain),
                0px 0px 0px 5px var(--colorMain);
    z-index: 1200;
    transition: 0.5s;
    pointer-events: none;
    will-change: transform;
}

.errorNotif {
    background-color: var(--red);
    color: white;
    font-weight: 700;
    box-shadow: 0px 0px 16px 5px var(--red),
                0px 0px 0px 5px var(--red);
}

.successNotif {
    background-color: var(--green);
    color: white;
    font-weight: 700;
    box-shadow: 0px 0px 16px 5px var(--green),
                0px 0px 0px 5px var(--green);
}

.processNotif {
    background-color: var(--blue);
    color: white;
    font-weight: 700;
    box-shadow: 0px 0px 16px 5px var(--blue),
                0px 0px 0px 5px var(--blue);
}

.blockBottom {
    position: absolute;
    z-index: 899;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: calc(30px + 42px);
    background: linear-gradient(0deg, var(--bgSecond), transparent);
    opacity: 0.7;
}

.textWelcome {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% calc(-50% + 100px);
    height: fit-content;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: var(--bgText);
    text-shadow: 0px 0px 20px var(--bgText);
    -webkit-text-stroke: 1.25px var(--bgThird);
    animation: playWelcome 1.2s alternate infinite;
    will-change: transform;
    white-space: nowrap;
}

@keyframes playWelcome {
    0% {
        letter-spacing: 1px;
        scale: 0.85;
    }

    100% {
        letter-spacing: 8px;
        scale: 1;
    }
}

.pointLight {
    position: absolute;
    top: 0px;
    left: 0px;
    background: radial-gradient(var(--colorMain) 0%, transparent 70%);
    opacity: var(--opacLight);
    pointer-events: none;
    will-change: background, transform;
    z-index: -1;
    transition: 0.2s opacity;
}

*:active .pointLight {
    opacity: calc(var(--opacLight) * 2);
}

.splasher {
    position: absolute;
    z-index: 300;
    pointer-events: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 16px 0px var(--colorMain),
                inset 0px 0px 32px 16px white;
    scale: 0;
    opacity: 1;
    animation: playSplash 0.3s;
    will-change: transform;
}

@keyframes playSplash {
    0% {
        scale: 0;
        opacity: 1;
    }
    
    100% {
        scale: 1;
        opacity: 0;
    }
}

.boxerNumber {
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    pointer-events: none;
    animation: playTextNumber 1.2s;
}

.texterNumber {
    font-size: 28px;
    font-weight: 900;
    -webkit-text-stroke: 1.5px var(--bgThird);
    color: var(--colorMain);
}

@keyframes playTextNumber {
    0% {
        translate: 0px 0px;
        scale: 0.5;
        opacity: 0;
    }

    50% {
        translate: 0px -20px;
        scale: 1;
        opacity: 1;
    }
    
    100% {
        translate: 0px -40px;
        scale: 0.5;
        opacity: 0;
    }
}

.resourceMenu {
    position: relative;
    height: 84px;
    background-color: var(--bgFluent);
    backdrop-filter: var(--filterGlass);
    border-radius: 42px;
    border: 0px solid var(--colorMain);
    z-index: 999;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5),
                0px 0px 16px 5px var(--colorMain),
                0px 0px 0px 5px var(--colorMain),
                inset 0px 0px 0px 6px var(--colorMainOpac);
    transition: 0.4s;
    padding: 12px 24px 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.bigText {
    font-size: 42px;
    font-weight: 900;
}

.startMenu {
    position: absolute;
    bottom: calc(30px + 84px + 20px);
    width: 640px;
    height: 720px;
    background-color: var(--bgFluent);
    backdrop-filter: var(--filterGlass);
    border-radius: 42px 42px 16px 16px;
    border: 0px solid var(--colorMain);
    z-index: 900;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5),
                0px 0px 16px 5px var(--colorMain),
                0px 0px 0px 5px var(--colorMain),
                inset 0px 0px 0px 6px var(--colorMainOpac);
    translate: 0px 62px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s cubic-bezier(.4,0,.15,1);
    will-change: transform;
}

.backgroundTheme {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-color: var(--colorMainOpac);
    width: 100%;
    height: 100%;
    opacity: var(--opacFill);
}

.mainHome {
    position: absolute;
    top: 0;
    width: calc(100% - 80px);
    height: calc(100% - 46px);
    margin: 40px 40px 0px 40px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    overflow: hidden;
    border-radius: 18px;
}

.barHome {
    position: relative;
    width: 100%;
    min-height: 48px;
    margin-bottom: 16px;
    border-radius: 18px;
    background-color: var(--bgSecond);
    overflow: hidden;
    isolation: isolate;
    box-sizing: border-box;
    display: flex;
    padding-left: 4px;
    transition: 0.2s;
}

.titleName {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    -webkit-text-stroke: 1.5px var(--bgThird);
    color: var(--colorMain);
    text-shadow: 0px 0px 6px var(--colorMain);
    transition: 0.2s;
}

.searchBox {
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--colorMainOpacSoft);
    border-radius: 15px;
    font-family: Rubik;
    color: var(--colorMain);
    font-size: 16px;
    font-weight: 500;
    caret-color: var(--colorMain);
    box-sizing: border-box;
    margin: 4px 4px 4px 0px;
    padding-inline: 16px 42px;
    transition: 0.2s;
    will-change: transform;
}

.searchBox::placeholder {
    color: var(--colorMainFill);
    transition: 0.2s;
}

.searchBox:hover::placeholder {
    color: var(--colorMain);
    letter-spacing: 1px;
}

.searchBox:hover {
    box-shadow: 0px 0px 0px 2px var(--colorMain);
}

.searchBox:active::placeholder {
    letter-spacing: 0px;
}

.searchBox:focus {
    background-color: var(--colorMainOpac);
    box-shadow: 0px 0px 0px 2px var(--colorMain),
                inset 0px 0px 0px 3px var(--colorMainFill);
}

.boxIndex {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 12px;
    box-sizing: border-box;
    transition: 0.2s;
}

.infoIndex {
    font-size: 18px;
    font-weight: 500;
    color: var(--bgText);
}

.textHome {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 26px;
    font-weight: 700;
    color: var(--bgText);
    margin-bottom: 16px;
    transition-delay: 0.1s;
}

.boxSection {
    position: relative;
    border-radius: 18px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.boxIcon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    pointer-events: none;
    will-change: transform;
}

.arrowNext {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--bgOpacSoft);
    box-sizing: border-box;
    background-color: var(--colorMain);
    pointer-events: none;
    transform: rotateZ(-135deg);
    opacity: 0;
    transition: 0.2s;
}

.backText {
    padding-inline: 7px;
    margin-inline: -7px;
}

.backBox {
    position: absolute;
    opacity: 0;
    right: 0px;
    background-color: var(--bgThird);
    color: var(--colorMain);
    font-size: 18px;
    padding-block: 4px;
    padding-inline: 12px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    will-change: transform;
}

.backBox:hover {
    box-shadow: inset 0px 0px 0px 2px var(--colorMain),
                inset 0px 0px 0px 4px var(--colorMainFill);
}

.backBox:active {
    background: transparent;
    transform: scale(0.9);
}

.boxTopLeft {
    position: absolute;
    padding-left: 30px;
    box-sizing: border-box;
    top: 30px;
    left: 30px;
    z-index: 900;
}

.boxCircle {
    position: absolute;
    left: 0px;
    aspect-ratio: 1/1;
    background-color: var(--bgThird);
    border-radius: 100px;
    z-index: 2;
    box-shadow: 0px 0px 0px 2px var(--colorMain),
                inset 0px 0px 0px 4px var(--colorMainFill);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 24px;
    color: var(--colorMain);
    -webkit-text-stroke: 1px var(--bgThird);
    text-shadow: 0px 0px 8px var(--colorMain);
}

.bottomTask {
    position: absolute;
    width: calc(100% - 60px);
    bottom: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 901;
    translate: 0px 200px;
    transition: 0.4s;
}

.taskBar {
    position: absolute;
    left: 50%;
    translate: -50%;
    width: 640px;
    height: 84px;
    padding: 12px;
    z-index: 10;
    border-radius: 42px;
    background-color: var(--bgFluent);
    backdrop-filter: var(--filterGlass);
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5),
                0px 0px 16px 5px var(--colorMain),
                0px 0px 0px 5px var(--colorMain),
                inset 0px 0px 0px 6px var(--colorMainOpac);
    box-sizing: border-box;
    transition: 0.3s cubic-bezier(.4,0,.15,1);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.secondTaskBar {
    width: 100%;
    height: 84px;
    padding-block: 12px;
    box-sizing: border-box;
    gap: 12px;
}

.pillText {
    height: 100%;
    padding-inline: 18px;
    background-color: var(--bgThird);
    border-radius: 36px;
    color: var(--bgText);
    font-size: 16px;
    font-weight: 500;
    gap: 12px;
}

.buttonTask {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    transition: 0.2s;
    color: var(--colorMain);
    background-color: var(--bgThird);
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    will-change: transform;
}

.buttonTask:hover {
    box-shadow: inset 0px 0px 0px 2px var(--colorMain),
                inset 0px 0px 0px 6px var(--colorMainFill);
}

.buttonTask:active {
    background-color: var(--colorMainOpacSoft);
    scale: 0.95;
}

.buttonTask:hover .svgAnimation, .buttonTask:hover i {
    scale: 1.1;
}

.buttonTask:active .svgAnimation, .buttonTask:active i {
    scale: 0.9;
}

.statsTask {
    position: relative;
    padding-inline: 16px;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    transition: 0.2s;
    will-change: transform;
}

.boxTimeBig {
    font-size: 28px;
    font-weight: 900;
    color: var(--bgText);
}

.textEnergy {
    font-size: 28px;
    font-weight: 900;
    color: var(--colorMain);
    -webkit-text-stroke: 1.5px var(--bgThird);
    text-shadow: 0px 0px 12px var(--colorMain);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.barBox {
    width: 100%;
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.barProgressAchieve {
    position: relative;
    width: 200px;
    min-height: 12px;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 3px var(--bgSecond),
                0px 0px 9px 3px var(--colorMain);
    overflow: hidden;
}

.barProgressTiny {
    position: relative;
    width: 120px;
    min-height: 14px;
    border-radius: 7px;
    margin-bottom: 6px;
    box-shadow: 0px 0px 0px 3px var(--bgSecond),
                0px 0px 9px 3px var(--colorMain);
    overflow: hidden;
}

.inBarProgressTiny {
    position: absolute;
    left: 0px;
    height: 100%;
    border-radius: 12px;
    background-color: var(--colorMain);
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
    transition: 0.1s;
}

.textProgress {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 87px;
    z-index: 1000;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--bgThird);
    padding: 3px 9px 3px 9px;
    border: 2px solid var(--colorMain);
    box-sizing: border-box;
    border-radius: 13px;
    display: flex;
    justify-content: center;
}

/*TODO SVG*/

/**/

.buttonHome {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
    overflow: hidden;
    will-change: transform;
    box-sizing: border-box;
    transition: 0.2s;
}

.buttonHome:hover .bigSvg {
    scale: 1.2;
}

.buttonHome:active .bigSvg {
    scale: 0.96;
}

.textShow {
    color: var(--bgText);
    font-size: 20px;
    font-weight: 700;
    pointer-events: none;
    transition: 0.2s;
}

.buttonHome:hover .textShow {
    letter-spacing: 1px;
    color: var(--colorMain);
}

.buttonHome:active .textShow {
    letter-spacing: 0px;
}

.mainScroller {
    position: absolute;
    width: 100%;
    height: calc(100%);
    overflow: auto;
    overflow-y: scroll;
    content-visibility: auto;
    border-radius: 18px;
    padding-right: 0px;
    box-sizing: border-box;
    transition: 0.2s cubic-bezier(.1,.3,.4,1);
    will-change: transform;
}

.mainScroller::-webkit-scrollbar-thumb {
    appearance: none;
    background-color: var(--colorMain);
    border-radius: 8px 20px 20px 8px;
}

.mainScroller::-webkit-scrollbar-track {
    appearance: none;
    background-color: var(--colorMainOpac);
    border-radius: 20px;
}

.grid2Column {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(50% - 5px));
    grid-template-rows: repeat(2, 180px);
    gap: 10px;
}

.grid2Row {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(2, calc(50% - 5px));
    gap: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flexGrid {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 12px));
    gap: 12px;
}

.freePos {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.boxBigText {
    margin-top: 2px;
    background-color: var(--bgThird);
    border-radius: 120px;
    padding: 12px 16px 12px 14px;
    font-size: 28px;
    font-weight: 900;
    color: var(--colorMain);
    -webkit-text-stroke: 1.5px var(--bgThird);
    text-shadow: 0px 0px 12px var(--colorMain);
    box-shadow: 0px 0px 0px 2px var(--colorMain),
                inset 0px 0px 0px 3px var(--colorMainFill);
    margin-inline: auto;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.gridInline4 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 6px));
    border-radius: 18px 30px;
    box-shadow: inset 0px 0px 0px 2px var(--colorMain),
                inset 0px 0px 0px 5px var(--colorMainFill);
    padding: 12px;
    box-sizing: border-box;
    gap: 8px;
}

.getAttention {
    animation: playShowAttention 0.3s cubic-bezier(.3,3.5,.6,1);
}

@keyframes playShowAttention {
    0% {
        translate: 0;
    }

    50% {
        translate: 0 -3px;
    }

    100% {
        translate: 0;
    }
}

.cardStats {
    width: 100%;
    height: 100%;
    background-color: var(--bgSecond);
    border-radius: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s cubic-bezier(.3,2.5,.6,1);
}

.textCardStats {
    min-height: 40px;
    font-weight: 700;
    margin-inline: 6px;
    margin-top: 6px;
    border-radius: 12px 12px 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.numberCardStats {
    min-height: 40px;
    margin-inline: 6px;
    margin-bottom: 6px;
    border-radius: 6px 6px 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    -webkit-text-stroke: 1px var(--bgThird);
    font-size: 18px;
    z-index: 10;
}

.boxContainer {
    position: relative;
    width: 100%;
    padding: 12px;
    border-radius: 18px;
    box-sizing: border-box;
    background-color: var(--bgSecond);
    gap: 8px;
}

.boxIndep {
    position: absolute;
    top: 50%;
    width: 480px;
}

.groupBoxContainer {
    position: relative;
    border-radius: 18px;
    overflow: hidden;
}

.boxContainerSelect {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 12px;
    border-radius: 18px;
    box-sizing: border-box;
    background-color: var(--bgSecond);
    gap: 8px;
    transition: 0.5s cubic-bezier(0.2, 0.6, 0.4, 1);
}

.boxCard {
    position: absolute;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: 0.2s;
}

.boxStart {
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: 0px;
    border-radius: 10px;
    transition: 0.2s;
    color: var(--bgThird);
    font-style: normal;
    font-weight: 700;
    overflow: hidden;
    will-change: transform;
}

.boxStart:hover {
    translate: 0px -3px;
}

.boxStart:active {
    translate: 0px 0px;
}

.boxTitle {
    width: fit-content;
    top: -24px;
    padding-inline: 6px;
    padding-block: 6px;
    box-sizing: border-box;
    color: var(--colorMain);
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 12px;
}

.boxImg {
    aspect-ratio: 16/9;
    width: 70%;
    margin-left: 50%;
    margin-block: 8px;
    translate: -50%;
    border-radius: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 0px 3px var(--colorMain);
}

.boxDesc {
    font-size: 14px;
    font-weight: 400;
    color: var(--bgText);
    text-align: justify;
    padding-inline: 8px;
}

.boxButton {
    position: relative;
    width: 100%;
    min-height: 60px;
    padding-block: 8px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    background: transparent;
    color: var(--bgText);
    transition: 0.2s;
    overflow: hidden;
    font-size: 16px;
    will-change: transform;
}

.isToogle:hover {
    transform: translateY(-2px);
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px var(--colorMain),
                0px 6px 9px -6px var(--colorMain),
                inset 0px 0px 0px 4px var(--colorMainFill);
}

.isToogle:active {
    transform: scale(0.98) translateY(0px);
    background: transparent;
    box-shadow: 0px 0px 0px 2px var(--colorMain);
}

.boxSmall {
    min-height: 32px;
    max-height: 32px;
    font-size: 12px;
}

.textSettings {
    width: 80%;
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    pointer-events: none;
    margin-block: 5px;
}

.boxTitleAdvanced {
    display: flex;
    align-items: center;
    gap: 12px;
}

.textHighlightInfo {
    font-size: 12px;
    opacity: 0.6;
    font-weight: 500;
}

.inboxSettings {
    min-width: max-content;
    width: 60px;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 15px;
    pointer-events: none;
}

.boxResult {
    height: 48px;
    margin-bottom: 12px;
    display: none;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--bgSecond);
    color: var(--colorMain);
    white-space: nowrap;
    border-radius: 18px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.boxText {
    font-size: 16px;
    font-weight: 700;
    background-color: var(--colorMainOpacSoft);
    white-space: nowrap;
    padding: 3px 9px 3px 9px;
    border-radius: 24px;
    display: flex;
    min-height: 19px;
    justify-content: center;
    color: var(--bgText);
    align-items: center;
    gap: 2px;
    pointer-events: none;
    box-shadow: 0px 0px 0px 2px var(--colorMain),
                inset 0px 0px 0px 3px var(--colorMainFill);
}

.smaller {
    font-size: 14px;
    font-weight: 500;
}

.boxReset {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--colorMainOpacSoft);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: var(--colorMain);
    overflow: hidden;
    transition: 0.2s;
    will-change: transform;
}

.boxReset:hover {
    rotate: 360deg;
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px var(--colorMain);
}

.boxReset:active {
    transition: 0.1s;
    rotate: 405deg;
    scale: 0.9;
}

.boxQuit {
    position: absolute;
    right: 14px;
    top: 12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--bgThird);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--colorMain);
    overflow: hidden;
    transition: 0.2s;
    will-change: transform;
}

.boxQuit:hover {
    scale: 1.05;
    box-shadow: 0px 0px 0px 2px var(--colorMain);
}

.boxQuit:active {
    transition: 0.1s;
    scale: 0.95;
}

.boxNext {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--colorMainOpacSoft);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: var(--colorMain);
    overflow: hidden;
    transition: 0.2s;
    will-change: transform;
}

.boxNext:hover {
    scale: 1.05;
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px var(--colorMain);
}

.boxNext:active {
    transition: 0.1s;
    scale: 0.95;
}

.dotColor {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.2s;
}

.dotColor:hover {
    scale: 1.25;
}

.dotColor:active {
    transition: 0.1s;
    scale: 0.9;
}

.barInput {
    background-color: var(--colorMainOpac);
    height: 25px;
    padding-inline: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 12px;
    transition: 0.2s;
}

.barInput:hover {
    box-shadow: 0px 0px 0px 2px var(--colorMain),
                0px 4px 4px -2px var(--colorMain);
}

.rangerInput {
    appearance: none;
    background-color: var(--bgThird);
    background-image: linear-gradient(var(--colorMain), var(--colorMain));
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 160px;
    height: 13px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-shadow: 0px 0px 0px 2px var(--colorMain),
                inset 0px 0px 0px 2px var(--bgSecond);
}

.rangerInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 29px;
    border-radius: 12px;
    background-color: var(--colorMain);
    border: 6px solid var(--bgThird);
    box-shadow: 0px 0px 0px 2px var(--bgOpacSoftest);
    box-sizing: border-box;
    transition: 0.16s;
}

.barInput:hover .rangerInput::-webkit-slider-thumb {
    scale: 1.12;
}

.barInput:active .rangerInput::-webkit-slider-thumb {
    scale: 1;
}

.textInfoConfig {
    white-space: nowrap;
}

.separator {
    width: 80%;
    margin-left: 10%;
    min-height: 8px;
    margin-block: 16px;
    background-color: var(--colorMain);
    border-radius: 4px;
}

.separatorHome {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-72px);
    width: 50%;
    height: 8px;
    bottom: 98px;
    background-color: var(--colorMain);
    border-radius: 4px;
    transition: 0.3s cubic-bezier(0.2, 0.6, 0.4, 1);
    will-change: transform;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#blockContent {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

#blockTask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#tooltip {
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bgThird);
    z-index: 999;
    padding: 3px 9px 3px 9px;
    border-radius: 24px;
    font-weight: 700;
    color: var(--bgText);
    border: 3px solid var(--colorMain);
    box-shadow: 0px 12px 10px -10px var(--colorMain),
                inset 0px 0px 0px 2px var(--colorMainFill);
    opacity: 0;
    transition: 0.2s opacity;
    pointer-events: none;
}

.toolContent {
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 1000;
    transition: 0.2s cubic-bezier(.5,1,.5,1);
    will-change: transform;
}

.toolBox {
    min-width: 200px;
    transition: 0.3s;
    transform: scale(0.8);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxTitleInfo   {
    border-radius: 18px;
    width: 100%;
    max-width: 300px;
    min-width: 150px;
    background-color: var(--bgThird);
    padding: 20px 20px 20px 20px;
    color: var(--bgText);
    border: 3px solid var(--colorMain);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    box-sizing: border-box;
    box-shadow: 0px 12px 10px -10px var(--colorMain),
                inset 0px 0px 0px 4px var(--colorMainFill);
}

.textInfo   {
    padding: 5px 20px 0px 20px;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--colorMain);
    text-shadow: 0px 2px 2px var(--shadowLight);
    margin-bottom: 6px;
    white-space: nowrap;
}

.infoParty   {
    display: flex;
    flex-direction: column;
}

.infoPopUp   {
    width: fit-content;
    padding: 0px 15px 5px 15px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
}