.svgWelcome {
    width: 70%;
    translate: 0% -50px;
    will-change: transform;
    transition: 0.5s;
}

.svgAnimation {
    pointer-events: none;
    transition: 0.2s cubic-bezier(.4, 2, .7, 1.5);
    will-change: transform;
}

.svgResource {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigSvg {
    width: 42px;
    height: 42px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.4s cubic-bezier(.3,2.25,.6,1);
    pointer-events: none;
    will-change: transform;
}

.mediumSvg {
    width: 56px;
    height: 56px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.smallSvg {
    margin-inline: -2px;
    width: 28px;
    height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.svgIcon {
    width: 32px;
    height: 32px;
    will-change: transform;
    transition: 0.6s cubic-bezier(0.2, 0.6, 0.4, 1);
    pointer-events: none;
}

.svgIconIn {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.topIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 24px;
    filter: drop-shadow(0px 0px 5px var(--colorMain));
}

.subIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 56px;
    width: 56px;
    height: 100%;
    font-size: 24px;
    pointer-events: none;
    transition: 0.2s cubic-bezier(.4, 2, .7, 1.5);
    will-change: transform;
}

.subIconSmall {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    width: 30px;
    height: 100%;
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s cubic-bezier(.4, 2, .7, 1.5);
}

.svgImporter   {
    width: 30px;
    height: 30px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 8px;
}

.iconCardStats {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    transition: 0.3s;
    pointer-events: none;
    will-change: transform;
}

.iconCardStats:hover {
    scale: 1.2;
}

.iconCardStats:active {
    transition: 0.1s;
    scale: 0.9;
}

.iconStats {
    width: 32px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    pointer-events: none;
}

/**/

.svgAVALON {
    margin-left: 12px;
    width: 24px;
    height: 24px;
    background-image: url(svg/avalon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    pointer-events: none;
}

.mainHomeSvg {
    background-image: url(svg/mainHome.svg);
}

.statsSvg {
    background-image: url(svg/stats.svg);
}

.awardSvg {
    background-image: url(svg/award.svg);
}

.tipSvg {
    background-image: url(svg/tip.svg);
}

.aboutSvg {
    background-image: url(svg/about.svg);
}

.versionSvg {
    background-image: url(svg/version.svg);
}

/**/

.tut1Png {
    background-image: url(img/tut1.png);
}

.tut2Png {
    background-image: url(img/tut2.png);
}

.tut3Png {
    background-image: url(img/tut3.png);
}

.tut4Png {
    background-image: url(img/tut4.png);
}

.tut5Png {
    background-image: url(img/tut5.png);
}

/**/

.statsSvgPower {
    background-image: url(svg/stats/power.svg);
}

.statsSvgVita {
    background-image: url(svg/stats/cruz.svg);
}

.statsSvgRes {
    background-image: url(svg/stats/shield.svg);
}

.statsSvgLea {
    background-image: url(svg/stats/belief.svg);
}